<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.application">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_warehouse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_warehouse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scanner.ScanQrCodeActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.FunctionActivity" />
        <activity android:name="com.google.zxing.activity.CaptureActivity"/>

        <activity android:name=".ui.BorrowActivity" />
        <activity android:name=".ui.ReturnActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.SubscribeActivity"></activity>

        <service
            android:name=".ui.AutoService"
            android:enabled="true"
            android:exported="true"
            android:process="system">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ui.AutoReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".ui.CancelSubscriptionActivity"></activity>
    </application>

</manifest>